:root {
  --ed-wg-main-color: rgb(2, 189, 158);
  --ed-wg-check-on-bg: linear-gradient(90deg,#018b74 60%,#28fdda 80%,#018b74 90%);
  --ed-wg-pre-main-light: #8fada8;
  --ed-wg-pre-main-color: #52706b;
  --ra2-hover-color: rgb(20, 178, 231);
  --ra2-hover-color-2: rgba(83, 145, 232, 0.845);
  --ra2-active-color: rgb(90, 214, 255);
  --ra2-edit-area-bg: rgba(14, 22, 37, 0.922);
  --ra2-edit-item-line-color: rgba(55, 102, 205, 0.4);
  --ra2-edit-op-bg: rgba(30, 63, 133, 0.514);
  --ra2-light-color: rgba(105, 172, 230, 0.858);
  --ra2-edit-font-color: rgba(135, 207, 255, 0.911);
  --ra2-edit-num-color: rgba(107, 255, 174, 0.897);
  --ra2-edit-yes-color: rgba(255, 186, 83, 0.897);
  --ra2-edit-bool-color: rgba(255, 83, 178, 0.897);
  --ra2-drop-shadow: 0 4px 6px rgba(0,0,0,.4);
  --ra2-drop-shadow-hover: 0 8px 12px rgba(0,0,0,.55);
  --ra2-allied-gradient: linear-gradient(30deg,rgba(20,60,139,.694),rgba(69,154,239,.806));
  --ra2-soviet-gradient: linear-gradient(30deg,rgba(139,20,30,.694),rgba(239,120,69,.806));
  --ra2-yuri-gradient: linear-gradient(30deg,rgba(46,20,139,.694),rgba(123,69,239,.806));
  --ra2-preview-gradient: linear-gradient(30deg,rgba(56,56,56,.792),rgb(99,99,99));
  --ra2-widget-h: 26px;
  --ra2-widget-w: 220px;
  --ra2-widget-radius: 5px;
  --ra2-widget-border: 2px solid rgba(101,119,179,.336);
  --ra2-widget-bg: rgb(32,39,65);
  --ra2-widget-focus-bg: rgba(32,62,126,.842);
}
